/* Monument */


@font-face {
    font-family: 'Bastliga One';
    src: url('fonts/Bastliga\ One.woff');
}

@font-face {
    font-family: 'Monument Extended Ultra Light';
    src: url('fonts/MonumentExtended-Ultralight.otf');
}

@font-face {
    font-family: 'Monument Extended Light';
    src: url('fonts/MonumentExtended-Light.otf');
}

@font-face {
    font-family: 'Monument Extended Regular';
    src: url('fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Monument Extended Bold';
    src: url('fonts/MonumentExtended-Bold.otf');
}

@font-face {
    font-family: 'Monument Extended Ultra Bold';
    src: url('fonts/MonumentExtended-Ultrabold.otf');
}

/* General Sans */

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    src: local('General Sans Regular'), url('fonts/GeneralSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 300;
    src: local('General Sans Extralight'), url('fonts/GeneralSans-Extralight.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 200;
    src: local('General Sans Light'), url('fonts/GeneralSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    src: local('General Sans Medium'), url('fonts/GeneralSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    src: local('General Sans Semibold'), url('fonts/GeneralSans-Semibold.woff') format('woff');
}


@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    src: local('General Sans Bold'), url('fonts/GeneralSans-Bold.woff') format('woff');
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --shadow: 0 8px 32px 0 rgba(0, 1, 15, 0.37);
    --log-ovrl: linear-gradient(180deg, rgba(255, 0, 0, 0) 53%, rgba(23, 24, 32, 1) 100%);
    --svg: #C2C3C4: --cat: #999999;
    --avatar: radial-gradient(circle, rgba(31, 32, 42, 1) 0%, rgba(17, 17, 20, 1) 100%);
    --border: #262626;
    --bg: #090D11;
    --soft: #24292E;
    --main: white;
    --primary-color: linear-gradient(135deg, rgba(24, 25, 33, 1) 0%, rgba(18, 20, 24, 1) 100%);
    --secondary-color: #916CE7;
    --third: #999999;
    --fourth: ;
    --mask: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
    --overlay-r: linear-gradient(-90deg, rgba(23, 24, 32, 1) 10%, rgba(17, 17, 20, 0) 52%);
    --overlay-l: linear-gradient(90deg, rgba(23, 24, 32, 1) 10%, rgba(17, 17, 20, 0) 52%);
}


.light-theme {
    --shadow: 0 8px 32px 0 rgba(152, 152, 152, 0.37);
    --log-ovrl: linear-gradient(180deg, rgba(255, 255, 255, 0) 53%, rgb(255, 255, 255) 100%);
    --svg: #C2C3C4;
    --cat: black;
    --avatar: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(219, 219, 219) 100%);
    --border: #d3d3d3;
    --bg: #E0DFE3;
    --soft: #D8D8D8;
    --main: black;
    --primary-color: #ECEBEC;
    --secondary-color: #916CE7;
    --third: #999999;
    --fourth: ;
    --mask: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
    --overlay-r: linear-gradient(-90deg, #ECEBEC 10%, rgba(255, 255, 255, 0) 52%);
    --overlay-l: linear-gradient(90deg, #ECEBEC 10%, rgba(255, 255, 255, 0) 52%);
}

* {
    font-family: General Sans, Sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;

    background: var(--bg);
    inset: 0;
    background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
        linear-gradient(to bottom, #80808012 1px, transparent 1px);
    background-size: 70px 70px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main);
    text-decoration: none;
}

.row {
    display: flex;
    flex-flow: row;
    flex-direction: row !important;
}

.column {
    display: flex;
    flex-flow: column;
    flex-direction: column !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.transition {
    transition: all 0.3s ease-in-out;
}


#nav-global {
    width: 100%;
    height: 190px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.menu-container {
    padding: 7px 10px 7px 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid var(--border);
    border-radius: 50px;
    color: var(--main);
    gap: 23px;
}

.menu-items {
    background: var(--primary-color);
    box-shadow: var(--shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
}

.menu-items span {
    padding: 7px 20px 7px 20px;
}

#mode {
    background-color: black;
}

/* Grid */

.grid-container {
    max-width: 1150px;
    margin: 1rem auto;
    padding: 0 25px 0 25px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 15px;
    grid-template-areas:
        "a a a a a b b b b b b b "
        "a a a a a c c c d d d d "
        "a a a a a c c c e e e e "
        "f f f f f f f g g i i i"
        "f f f f f f f g g i i i"
        "f f f f f f f h h i i i"
        "f f f f f f f h h i i i";
    grid-template-columns: auto;
}

.projects-container {
    padding: 0 25px 0 25px;
    margin: 60px auto;
    max-width: 1150px;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 15px;
    grid-template-areas:
        "p1 p2"
        "p3 p3";
}

.project-1 {
    padding: 25px 0 25px 0 !important;
    grid-area: p1;
}

.project-2 {
    padding: 25px 0 25px 0 !important;
    grid-area: p2;
}

.project-3 {
    padding: 25px 0 25px 0 !important;
    grid-area: p3;
}

.grid-item {
    display: flex;
    background: var(--primary-color);
    border: 1px solid var(--border);
    cursor: pointer;
    border-radius: 24px;
    padding: 10px 65px;
    flex-direction: column;
    overflow: hidden;
}

.hover {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.grid-item-1 {
    padding: 20px 0px 20px 0px;
    grid-area: a;
    position: relative;
}

.grid-item-2 {
    border-radius: 50px;
    padding: 10px 0 10px 0;
    position: relative;
    grid-area: b;
}

.grid-item-3 {
    padding: 0;
    grid-area: c;
}

.grid-item-4 {
    grid-area: d;
    padding: 20px 0 20px 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-item-5 {
    padding: 10px 10px 10px 10px;
    grid-area: e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-item-6 {
    padding: 90px 0 90px 0;
    grid-area: f;
}

.grid-item-7 {
    padding: 0;
    grid-area: g;
}

.grid-item-8 {
    padding: 0;
    grid-area: h;
}

.grid-item-9 {
    align-items: center;
    padding: 0;
    grid-area: i;
    box-sizing: border-box;
    overflow: hidden;
}

/* Inside items */

.profile-container {
    display: flex;
    width: 90%;
    align-items: center;
    z-index: 2;
}

#profile {
    display: flex;
    align-items: start;
    margin-left: 20px;
}

#profile p:hover {
    margin-left: 5px;
}

.avatar {
    width: 110px;
    height: 110px;
    background: var(--avatar);
    border-radius: 20px;
}

#profile h1 {
    color: var(--main);
    font-size: 1.4em;
    font-family: Monument Extended Ultra Light;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px 0 2px 0px;
}

#profile p {
    margin: 0;
    font-size: 14px;
    color: var(--third);
    margin-bottom: 18px;
}

.status {
    padding: 5px 10px 5px 10px;
    background: rgb(24, 25, 33);
    background: var(--primary-color);
    border: 1px solid var(--border);
    border-radius: 50px;
    font-size: 14px;
    color: var(--third);
    margin-top: -5px;
}

.circle {
    width: 17px;
    height: 17px;
    background-color: #3d3d3d;
    border-radius: 50px;
    margin-right: 10px;
}

.active {
    width: 9px;
    height: 9px;
    background-color: #f0f80b;
    border-radius: 50px;
}

.about-container {
    width: 90%;
    align-items: center;
    z-index: 2;
}

.category-container {
    display: block;
    width: 95%;
    justify-content: start;
    align-items: start;
}

.category {
    border: 1px solid var(--border);
    display: inline-block;
    color: var(--third);
    font-size: 13px;
    border-radius: 50px;
    padding: 6px 10px 6px 10px;
    margin: 0 5px 5px 0;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.text-wrapper h1 {
    color: var(--third);
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rtl 10000ms linear infinite;
}

.img-holder {
    padding: 100px 0 100px 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/loc.jpg);
    background-size: cover;
    background-position: center;
}

.img-holder:hover {
    transform: scale(1.1);
}

.grid-item-3:hover .map-info {
    opacity: 1 !important;
}

.map-info {
    opacity: 0;
    margin-top: 150px;
    padding: 10px 20px 10px 20px;
    position: absolute;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    background: rgba(24, 25, 33, 0.178);
    background: linear-gradient(135deg, rgba(24, 25, 33, 0.699) 0%, rgba(18, 20, 24, 0.788) 100%);
    color: var(--soft);
    z-index: 999;
}

.grid-item-4 h4 {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--main);
}

.grid-item-4 h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Monument Extended Ultra Light;
    letter-spacing: 1px;
    color: var(--main);
}

.grid-item-4 lord-icon {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

.grid-item-4 lord-icon:hover {
    opacity: 1;
}

.switch-btn {
    width: 180px;
    height: 80px;
    border-radius: 24px;
    background: none;
}

.grid-item6 h4 {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--main);
}

.grid-item-6 h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--main);
}

.overlay-r {
    width: 30%;
    height: 100%;
    background: rgb(23, 24, 32);
    background: var(--overlay-r);
    z-index: 10;
}

.overlay-l {
    width: 30%;
    height: 100%;
    background: rgb(23, 24, 32);
    background: var(--overlay-l);
    z-index: 10;
}

/* Slider Skills */

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 82px;
    overflow: hidden;
    mask-image: var(--mask);
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.item {
    width: 82px;
    height: 82px;
    background: var(--soft);
    border-radius: 14px;
    position: absolute;
    left: max(calc(50px * 5), 100%);
    animation-name: scrollLeft;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(25s / 5 * (5 - 1) * -1);
}

.item2 {
    animation-delay: calc(25s / 5 * (5 - 2) * -1);
}

.item3 {
    animation-delay: calc(25s / 5 * (5 - 3) * -1);
}

.item4 {
    animation-delay: calc(25s / 5 * (5 - 4) * -1);
}

.item5 {
    animation-delay: calc(25s / 5 * (5 - 5) * -1);
}

.grid-item-7 svg path {
    fill: var(--svg);
}

.grid-item-8 path {
    fill: var(--svg);
}

.grid-item-7:hover path {
    fill: var(--main);
}

.grid-item-8:hover path {
    fill: var(--main);
}

.grid-item-8:hover circle {
    fill: #6DD33D;
}

.cat {
    padding: 5px 20px 5px 20px;
    color: #916CE7;
    font-weight: 500;
    font-size: 12px;
    border-radius: 50px;
    background-color: #916ce721;
    border: 1px solid #916CE7;
    cursor: pointer;
}

.thumb {
    width: 90%;
    height: 330px;
    background: pink;
    border-radius: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.title {
    width: 90%;
    margin-top: 15px;
}

.title svg {
    fill: var(--main);
    opacity: 0.4;
}

.title svg:hover {
    opacity: 1;
}

.title p {
    margin: 0;
    font-size: 12px;
    color: #838383;
}

.title h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--main);
}

.tag {
    background: rgb(24, 25, 33);
    background: var(--primary-color);
    border: 1px solid var(--border);
    display: inline-block;
    color: var(--main);
    font-size: 12px;
    border-radius: 50px;
    padding: 6px 18px 6px 18px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.thumb .img-holder:hover {
    transform: scale(1.05);
}

.tag:hover i {
    margin-right: 10px !important;
}

/* Weblog */

.log-ovrl {
    background: rgb(255, 0, 0);
    background: var(--log-ovrl);
}

.log-icon {
    width: 50px;
    height: 50px;
    background-color: var(--soft);
    border-radius: 50px;
}

.grid-item-9 h1 {
    color: var(--main);
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.grid-item-9 p {
    margin: 0;
    color: var(--third);
    font-size: 12px;
    font-weight: 500;
}

.grid-item-9 h2 {
    font-size: 20px;
    color: var(--main);
    font-weight: 700;
    margin-top: 30px;
}

.status-btn {
    font-size: 10px;
    padding: 4px 10px 4px 10px;
    border-radius: 50px;
    border: 1px solid var(--border);
    margin-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.line {
    left: 45px;
    height: 100%;
    position: absolute;
    border-left: 1px dashed #616161;
    z-index: 1;
}

.switch btn svg {
    fill: red;
}


/* FOOTER */


@media only screen and (max-width: 1100px) {

    #profile h1 {
        font-size: 1.2em;
    }

    .img-holder {
        padding: 0px 0 0px 0;
    }

    .grid-container {
        grid-template-areas:
            "a a a a a b b b b "
            "a a a a a d d d d "
            "a a a a a e e e e "
            "f f f f g g c c c"
            "f f f f g g c c c"
            "f f f f h h i i i"
            "f f f f h h i i i";
    }
}

@media only screen and (max-width: 800px) {

    .menu-container {
        gap: 10px;
    }

    .menu-items {
        font-size: 11px;
    }

    .grid-container {
        grid-template-areas:
            "b b"
            "a a"
            "a a"
            "d d"
            "e e"
            "c c"
            "c c"
            "g g"
            "h h"
            "f f"
            "f f"
            "i i"
            "i i";
    }

    .img-holder {
        padding: 100px 0 100px 0;
    }

    .grid-item-3 {
        grid-area: c;
    }

    .grid-item-7 {
        padding: 20px 0 20px 0;
    }

    .grid-item-8 {
        padding: 20px 0 20px 0;
    }

    .grid-item-9 {
        height: 300px;
    }

    .thumb {
        width: 90% !important;
    }

    .title {
        width: 90% !important;
    }

    .tag {
        margin: 0 !important;
    }

    .projects-container {
        grid-template-areas:
            "p1"
            "p2"
            "p3";
    }
}